*.log
backup.py
*test*.*
**/__pycache__/
cp-colabo.sh
Pipfile
notice.txt
.vscode/*
a.*
a
*.pickle
*.code-workspace
*.dSYM/
bruteforce.cpython-311-darwin.so
build/
.ipynb_checkpoints/
.mypy_cache/
*/.DS_Store
.DS_Store
bruteforce
src/bruteforce.exe
